@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-clr: #698269;
  --light-clr: #b99b6b;
  --light-text: #f1dbbf;
  --accent-clr: #f1dbbf;
}

html {
  width: 100vw;
}

body {
  background-image: url(low-poly.svg);
  background-size: cover;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: minmax(100px, 1fr) 4fr 1fr;
  gap: 10%;
}

.title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding: 2% 0px 2% 0px;
  color: var(--light-text);
  box-shadow: 4px 3px 20px var(--main-clr);
}

.books {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: minmax(200px, 250px);
  grid-auto-rows: minmax(250px, 1fr);
}

.book {
  padding: 20px;
  font-weight: 800;
  color: #aa5656;
  font-size: 29px;
  height: 1fr;
  width: 1fr;
  border: 3px solid var(--accent-clr);
  border-radius: 8px;
  margin: 20px;
  background-color: #f1dbbf49;
  box-shadow: 3px 3px 10px var(--light-clr);
  background-repeat: no-repeat;
  object-fit: fill;
}

.actions {
  text-align: center;
}

button {
  appearance: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--main-clr);
  color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.202);
}

button:hover {
  cursor: pointer;
}

.popup-form {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0);
  position: absolute;
  visibility: hidden;
}

.popup-form > form {
  background-color: #f1dbbf;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 20px;
  padding: 40px;
}

.popup-form div {
  text-align: center;
}

.popup-form button {
  font-size: 20px;
}

.popup-form label {
  font-size: 25px;
}

.popup-form input {
  height: 2rem;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  padding-left: 10px;
}

.popup-form.active {
  visibility: visible;
  background-color: rgb(0, 0, 0, 0.7);
  transition: background-color 0.4s ease-in-out;
}

.popup-form.active > form {
  top: 50%;
  transition: top 0.4s ease-in;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
